.l-footer.h-flexCenter
  .containerBox
    .logo
      a(href="./index.html")
        i.fas.fa-home
    .social.h-flexCenter
      .socialLink
        a(href="#")
          i.fab.fa-facebook-square
      .socialLink
        a(href="#")
          i.fab.fa-instagram
      .socialLink
        a(href="#")
          i.fab.fa-github
      .socialLink
        a(href="#")
          i.fab.fa-telegram-plane
    .info
      li Calling  01-2345-6789
      li jailulu@gmail.com
      li 台北市中山區長井路666巷66號
      .state ⓒ 2019 Created by Sharon Lin .<br>僅個人練習使用，不做任何商業用途