.col.col-3.productMenu
    ul.productMenu_item
      li
        a(href="#") 商品總覽
      li
        a.type(href="#") 家具擺設
        ul.productMenu_item_subMenu
          li
            a(href="#") 時鐘
          li
            a(href="#") 花器
          li
            a(href="#") 毛毯
          li
            a(href="#") 抱枕
      li
        a.type(href="#") 照明
        ul.productMenu_item_subMenu
          li
            a(href="#") 燈泡
          li
            a(href="#") 燈飾