
<div class="header">
  <div class="navbar max-1600">
    <div class="nav_toggle nav-item nav_bar">≡</div>
    <div class="navbar-brand"><a href="../../public/html/index.html"><img src="./../../source/img/jailuluLogo_light.svg" alt="宅家飾jailulu logo"/></a></div>
    <div class="nav_toggle nav-item nav_cart"><a href="../../public/html/cart.html"><i class="fas fa-shopping-cart"></i></a></div>
    <div class="nav-menu">
      <div class="nav-item"><a href="../../public/html/index.html"> 首頁</a></div>
      <div class="nav-item productList"><a href="../../public/html/product.html"> 商品列表</a>
        <ul>
          <div class="triangle triDown">▾</div>
          <li><a href="#">商品總覽</a></li>
          <li class="dropdown" id="homeDecoration">
            <div class="triangle triRight">▸</div><a class="type" href="#">家具擺設
              <ul class="productItem">
                <li><a href="#">時鐘</a></li>
                <li><a href="#">花器</a></li>
                <li><a href="#">毛毯</a></li>
                <li><a href="#">抱枕</a></li>
              </ul></a>
          </li>
          <li class="dropdown" id="light">
            <div class="triangle triRight">▸</div><a class="type" href="#">照明
              <ul class="productItem">
                <li><a href="#">燈泡</a></li>
                <li><a href="#">燈飾</a></li>
              </ul></a>
          </li>
        </ul>
      </div>
      <div class="nav-item sale"><a href="#"> sale</a></div>
      <div class="nav_member nav-item nav-font"><a href="../../public/html/login.html"><i class="fas fa-user-circle"></i></a></div>
      <div class="nav_cart nav-item nav-font"><a href="../../public/html/cart.html"><i class="fas fa-shopping-cart"></i></a></div>
    </div>
  </div>
  <div class="fixBtn h-flexCenter"><i class="fas fa-caret-up"></i></div>
</div>