
<div class="col col-3 productMenu">
  <ul class="productMenu_item">
    <li><a href="#">商品總覽</a></li>
    <li><a class="type" href="#">家具擺設</a>
      <ul class="productMenu_item_subMenu">
        <li><a href="#">時鐘</a></li>
        <li><a href="#">花器</a></li>
        <li><a href="#">毛毯</a></li>
        <li><a href="#">抱枕</a></li>
      </ul>
    </li>
    <li><a class="type" href="#">照明</a>
      <ul class="productMenu_item_subMenu">
        <li><a href="#">燈泡</a></li>
        <li><a href="#">燈飾</a></li>
      </ul>
    </li>
  </ul>
</div>