<!DOCTYPE html>
html(lang="en")
    head
        include partial/_meta.pug
    body
      #app
        include partial/_header.pug
        block content
        include partial/_footer.pug
      include partial/_jsLink.pug